@*@model nutricion_examen.Models.EncuestaR24H*@

<div class="col-md-12 col-sm-6">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Generar Encuesta 24 Horas</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input type="hidden" id="id_r24h" value="" />
                        <label>Hora</label>
                        <input type="text" class="form-control" name="hora" id="hora" value="" placeholder="Ej: 10:00">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Minuta</label>
                        <input type="text" class="form-control" name="minuta" id="minuta" value="" placeholder="Ej: Cena-Pollo con arroz">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Ingredientes</label>
                        <input type="text" class="form-control" name="ingredientes" id="ingredientes" value="" placeholder="">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Medidas Caseras</label>
                        <input type="text" class="form-control" name="medidas_caseras" id="medidas_caseras" value="" placeholder="Ej: 1 taza">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Cantidad</label>
                        <input type="text" class="form-control" name="cantidad" id="cantidad" value="" placeholder="gr/ml">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Observaciones</label>
                        <textarea class="form-control" name="observacion" id="observacion"></textarea>
                    </div>
                    <div class="form-group col-md-2">                        
                        <input type="hidden"  name="id_ficha" id="id_ficha" value="" >
                    </div>
                </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Día de Semana</label>
                            <select class="form-control" id="dia_semana" name="dia_de_semna">
                                <option value="">Selecciona un Día</option>
                                <option value="Lunes">Lunes</option>
                                <option value="Martes">Martes</option>
                                <option value="Miercoles">Miercoles</option>
                                <option value="Jueves">Jueves</option>
                                <option value="Viernes">Viernes</option>
                                <option value="Sabado">Sabado</option>
                                <option value="Domingo">Domingo</option>
                            </select>
                        </div>
                        

                        <div class="form-group mt-4">
                            <!--<span class="btn btn-primary" id="btnAgregar"><i class="fas fa-plus"></i>Agregar Fila</span>-->
                            <button type="button" onclick="insertEncuesta()" class="btn btn-primary" id="btnGuardar" title="Agregar"><i class="fas fa-plus"></i></button>

                        </div>
                    </div>

            </form>

            <div>
                <table class=" table">
                    <thead>
                        <tr>
                            <th>Día</th>
                            <th>Hora</th>
                            <th>Minuta</th>
                            <th>Ingredientes</th>
                            <th>Medidas Caseras</th>
                            <th>Cantidad</th>
                            <th>Observaciones</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody id="resultEncuesta">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>







@section scripts{
    <script type="text/javascript">



    </script>
}