@model nutricion_examen.Models.Estado_Agenda

    <div class="col-md-12 col-sm-6">
        <!-- general form elements disabled -->
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Generar Estado Agenda</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form role="form" id="frmEstado">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Estado Agenda</label>
                                <input type="text" id="estado" name="nombre_estado" class="form-control" placeholder=""/>
                            </div>
                        </div>
                        

                    </div>
                    <button type="button" id="btnGrabar" onclick="insertarEstado()" class="btn btn-primary">Guardar...</button>
                </form>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
            <!-- /.card-body -->

        </div>

        <!-- /.card -->
    </div>


@section scripts{
    <script type="text/javascript">
        $('#btnGrabar').click(function () {

            if ($('#nombre').val() == "") {
                alert("Este Campo no puede estar Vacio")
            }

        });


         function insertarEstado() {
            //quita la petición al servidor
            $('#btnGrabar').click(function (e) {
                e.preventDefault();
            });

            //juntar datos que contiene el formulario en una nueva variable
            var formData = new FormData(document.getElementById("frmEstado"));


            //ejecutamos jQuery para enviar la informacion mediante Ajax
            $.ajax({
                url: '@Url.Action("Create","Estado_Agenda")',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function (r) {
                    var res = r.res;
                    if (res == 1) {
                        alertify.success("Estado Creado");
                        $('#estado').val('');
                    } else {
                        alertify.error("Error al Crear el Estado");
                    }
                    
                }


            });


        }

    </script>
}
