@model IEnumerable<nutricion_examen.Models.Estado_Agenda>
@{
    ViewBag.Title = "Index";
}

<h2>Estado</h2>

<select class="form-control">
    @foreach (var lista in Model)
    {
        <option>@lista.Nombre_Estado</option>
    }
</select>





