

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Alimentos</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Cantidad (gr/ml)</th>
                <th scope="col">Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Lácteos</th>
            </tr>
            <tr>
                <th scope="row">Carne de vacuno</th>
            </tr>
            <tr>
                <th scope="row">Carbohidratos</th>
            </tr>
            <tr>
                <th scope="row">Chancho y fiambres</th>
            </tr>
            <tr>
                <th scope="row">Pollo</th>
            </tr>
            <tr>
                <th scope="row">Pescados y Mariscos</th>
            </tr>
            <tr>
                <th scope="row">Huevos</th>
            </tr>
            <tr>
                <th scope="row">Legumbres</th>
            </tr>
            <tr>
                <th scope="row">Pan</th>
            </tr>
            <tr>
                <th scope="row">Frutas</th>
            </tr>
            <tr>
                <th scope="row">Verduras</th>
            </tr>
            <tr>
                <th scope="row">Frutos secos</th>
            </tr>
            <tr>
                <th scope="row">Grasas</th>
            </tr>
            <tr>
                <th scope="row">Bebidas azucaradas</th>
            </tr>
            <tr>
                <th scope="row">Bebidas alcoholicas</th>
            </tr>
            <tr>
                <th scope="row">Agua</th>
            </tr>
            <tr>
                <th scope="row">Café</th>
            </tr>

            <!-- columna 2-->


        </tbody>
    </table>
