   
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Grupo de Alimentos</th>
                    <th scope="col">Frecuencia</th>
                    <th scope="col">Cantidad (gr/ml)</th>
                    <th scope="col">Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Cereales</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>

                </tr>
                <tr>
                    <th scope="row">Legumbres</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Frutas</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Verduras</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Carne de Vacuno</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Pollo</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Pescados y Mariscos</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Huevos</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Lácteos</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Aceites y Grasas</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Embutidos</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Azúcares</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
                <tr>
                    <th scope="row">Agua</th>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                    <td><input type="text" class="" id="" name=""></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

