
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nutri la Vida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/estilos.css" />
    <link rel="shortcut icon" href="~/Content/img/broccoli2.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Página principal</a>
            <a href="#"> Inicio</a>
            <a href="#"> Nosotros</a>
            <a href="#"> Recetas Saludables</a>
            <a href="#"> Servicios</a>
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modalagenda">
                Agendar Hora
            </button>

            <form class="form-inline">
                <a href="@Url.Action("Index","Home")" title="Administración"> <span><i class="fa fa-home"></i></span></a>
            </form>
        </nav>

        <section class="text-header">
            <h1>Centro de Nutrición: "Nutri La Vida"</h1>
            <h2>El secreto está en crear hábitos saludables, no restricciones</h2>
        </section>
        
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M-7.62,61.67 C303.89,195.88 -114.27,161.34 536.39,-14.30 L524.54,192.92 L-12.69,168.25 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Acerca de Nosotros</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="~/Content/img/img7.png" alt="" class="img-nosotros" />
                <div class="content-text">
                    <h3><span>1</span>Nosotros</h3>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
                    <h3><span>2</span>Misión</h3>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
                    <h3><span>3</span>Visión</h3>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
                </div>
            </div>
        </section>

        <section class="servicios">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="~/Content/img/atencion.png" alt="" />
                        <h3>Nombre</h3>
                        <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="~/Content/img/auriculo1.png" alt="" />
                        <h3>Nombre</h3>
                        <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="~/Content/img/educacion.png" alt="" />
                        <h3>Nombre</h3>
                        <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="recetas">
            <div class="contenedor">
                <h2 class="titulo">Recetas Saludables</h2>
                <div class="recetas-saludables">
                    <div class="img-receta">
                        <img src="~/Content/img/img1.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img2.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img3.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img4.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img5.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img6.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img7.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                    <div class="img-receta">
                        <img src="~/Content/img/img8.png" alt="" />
                        <div class="hover-receta">
                            <img src="~/Content/img/cereza2.png" alt="" />
                            <p>Recetas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

      
        <!-- Modal -->
        <div class="modal fade" id="modalagenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agenda</h4>
                    </div>
                    <div class="modal-body">
                        <label>Rut</label>
                        <input type="text" id="rut" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Nombre</label>
                        <input type="text" id="nombre" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Apellido</label>
                        <input type="text" id="apellido" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" id="fechanac" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Número teléfono</label>
                        <input type="text" id="telefono" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Email</label>
                        <input type="email" id="email" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Fecha cita</label>
                        <input type="date" id="fechcita" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-body">
                        <label>Hora cita</label>
                        <input type="text" id="hora" name="rut" class="form-control" placeholder="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Agendar</button>

                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Teléfono</h4>
                <p>+562 2222222</p>
            </div>
            <div class="content-foot">
                <h4>E-Mail</h4>
                <p>contacto@nutrilavida.cl</p>
            </div>
            <div class="content-foot">
                <h4>Ubicación</h4>
                <p>Santiago, Región Metropolitana</p>
            </div>
        </div>
        <h2 class="titulo-final"> &copy; 2020 - Todos los Derechos Reservados.</h2>
    </footer>
  
            

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
