@model nutricion_examen.Models.EncuestaR24H


<div class="container mt-5">
    <div class="row">
        <form id="frmEncuestaR24H" class="form-normal">
            <div class="form">
                <h3>Send us a message</h3>
                <form action="">
                    <p>
                        <label for="">Your name</label>
                        <input type="text">
                    </p>
                    <p>
                        <label for="">Skype</label>
                        <input type="text">
                    </p>
                    <p>
                        <label for="">Email Address</label>
                        <input type="text">
                    </p>
                    <p>
                        <label for="">Topic</label>
                        <input type="text">
                    </p>
                    <p>
                        <label for="">Write your message</label>
                        <textarea name="" id="" cols="30" rows="7"></textarea>
                    </p>
                    <p>
                        <button>Send</button>
                    </p>
                </form>
            </div>
        </form>
    </div>
</div>



<div class="mt-4">
    @Html.ActionLink("Back to List", "Index")
</div>
  