* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand';
}

.contenedor {
    padding: 80px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: #a19c9c;
    border-bottom-width: 5px;
}

.titulo {
    color: #000000;
    font-size: 50px;
    text-align: center;
}


/*navbar*/
.navbar {
    border-bottom-style: solid;
    border-bottom-color: #a19c9c;
    border-bottom-width: 5px;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    color: #fff;
}

    nav > a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
    }

        nav > a:hover {
            text-decoration: underline;
        }

/*AGENDA */
.btn {
    color: #fff;
    font-weight: 300;
}

.btn-a {
    color: #000000;
    font-weight: 300;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}


/*header*/

header {
    width: 100%;
    height: 500px;
    background-color: #bc4e9c;
    background: #56ab2f;
    /* fallback for old browsers */
    background: url(../img/Banner1.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url('../img/Banner1.png');
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


header .text-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-header h1 {
    font-size: 70px;
}

.azul-blanco {
    color: #FFFFFF;
    background-color: #12809285;
}

.text-header h2 {
    font-size: 30px;
    font-weight: 300;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.img-nosotros {
    width: 38%;
    border-radius: 50px;
    margin-right:25px;
}

.nosotros .content-text {
    width: 48%;
}

.content-text h3 {
    margin-bottom: 15px;
}

    .content-text h3 span {
        background: #56ab2f;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 2px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        margin-right: 15px;
        font-size: 20px;
    }

.content-text p {
    padding: 0px 0px 30px 15px;
    font-weight: 500;
    text-align: justify;
}


/*Nuestros servicios*/

.post-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

.post-img-1 {
    background: url('../img/atencionpresencial.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2 {
    background: url('../img/Auriculoterapia.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3 {
    background: url('../img/atenciononline.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
}

    .post:hover {
        transform: translateY(-4px);
        box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
    }

.post-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
    transform: scale(1.1);
}

.post-body {
    padding: 15px;
    text-align: center;
}

    .post-body span {
        display: inline-block;
        color: #999;
        margin-bottom: 10px;
    }

    .post-body h2 {
        margin-bottom: 15px;
    }

    .post-body p {
        line-height: 1.5;
        margin-bottom: 20px;
    }

@media (max-width: 840px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Recetas*/
.recetas {
    background: #fff;
}

.recetas-saludables {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-receta {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.img .img-receta > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-receta {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(91, 76%, 38%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .hover-receta img {
        width: 50px;
    }

    .hover-receta p {
        color: #fff;
    }

.img-receta:hover .hover-receta {
    transform: scale(1);
}

/*Footer*/

.contenedor-c {
    padding: 10px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foot {
    text-align: center;
}

    .content-foot h4 {
        color: black;
        border-bottom: 3px solid #26ae11;
        padding-bottom: 10px;
    }

    .content-foot p {
        color: black;
    }

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 20px 0 0;
    color: black;
}


@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nosotros .content-text {
        width: 90%;
    }

    .img-nosotros {
        width: 90%;
    }

    .img-receta {
        width: 44%;
    }
}

/*Popup recetas*/
.container-all {
    width: 100%;
    height: 100%;
    background: hsla(91, 76%, 38%, 0.7);
}

.btn-open-popup {
    color: white;
}

.popup {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Fondo Quien Soy*/
.fondo {
    background-color: #78d7e617;
    background-position: center;
    background-size: cover;
}


/*Bienvenido*/
.bienvenido {
    position: relative;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 80px;
}

.content-area{
    padding-left: 32px;
    padding-right: 32px;
}
.entry-content {
    max-width: 1000%;
    margin: auto;
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-color: #a19c9c;
    border-bottom-width: 5px;
}

